* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.conrols {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clear {
  padding: 5px 10px;
  border-radius: 10px;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  border: 1px solid black;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
